@using Data.Models
@model FileListModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UploadFile</title>
</head>
<body>
    <div>
        @foreach (var item in Model.Files)
        {


            @item.Name
            @item.Size
            @item.Type
            @item.CreatedAt
            @item.isSelected

        }

    </div>
</body>
</html>
